table.table-list {
    border-collapse: collapse;
    cursor: pointer;
    width: 100%;

    & tr {
        &:first-of-type {
            border-bottom: solid 1px rgba($blue-gray-1, 0.5);
        }

        &:hover {
            background-color: $gray-4;
            color: $blue-gray-1;
        }

        &:first-of-type {
            &:hover {
                background-color: inherit;
                color: inherit;
            }
        }

        &.highlight {
            background-color: $blue-gray-1;
            color: $gray-5;

            &:hover {
                background-color: $blue-gray-2;
                color: $gray-4;
            }
        }
    }

    & td, & th {
        padding: 4px 8px;
    }
}